{{#if session.login}}
    <h1>Ajout circuit</h1>
    <div class="centre">
        <form action="/circuits/addit" method="post" enctype="multipart/form-data">
            <p>Nom : <input type="text" name="CIRNOM" /></p>
            <p>Longueur : <input type="number" name="CIRLONGUEUR" /></p>
            <p> Pays  <select name="PAYNUM" >
                {{#each nat}}
                    <option value="{{this.num}}">{{this.nat}}</option>
                {{/each}}
            </select></p>
            <p>Image : <input type="file" name="image"/></p>
            <p>Nombre de spectateurs: <input type="number" name="CIRNBSPECTATEURS" /></p>
            <p>Description : <textarea name="CIRTEXT" rows="5" cols="60"></textarea></p>


            <p><input type="submit" value="Valider"></p>
        </form>
    </div>
    </form>

{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
