{{#if session.login}}
    <h1>Ajout sponsor</h1>
    <div class="centre">
        <form action="/sponsors/add" method="post">
            <p>Nom : <input type="text" name="nom" /></p>
            <p>Secteur d'activite : <input type="text" name="sa" /></p>
            <p> Ecurie Sponsorisee
                <select name="es" >
                    <option value="aucune">Aucune</option>
                    {{#each ecurie}}
                        <option value="{{this.num}}">{{this.ecu}}</option>
                    {{/each}}
                </select></p>
            <p><input type="submit" value="Valider"></p>
        </form>
    </div>

{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
