{{#if session.login}}
    <h1>Ajout pilote</h1>
    <div class="centre">
        <form action="/pilotes/add" method="post">
            <p>Prénom : <input type="text" name="prenom" /></p>
            <p>Nom : <input type="text" name="nom" /></p>
            <p>Date de naissance : <input type="date" name="date" />Annee-mois-jour</p>
            <p> Nationalité  <select name="nationalite" >
                {{#each nat}}
                    <option value="{{this.num}}">{{this.nat}}</option>
                {{/each}}
            </select></p>
            <p> Ecurie  <select name="ecurie" >
                {{#each ecu}}
                    <option value="{{this.num}}">{{this.ecu}}</option>
                {{/each}}
            </select></p>

            <p>Points : <input type="number" name="points" /> pts</p>
            <p>Poids: <input type="number" name="poids" /> kg</p>
            <p>Taille : <input type="number" name="taille" /> cm</p>
            <p>Description : <textarea name="description" ></textarea></p>


            <p><input type="submit" value="Valider"></p>
        </form>
    </div>
    </form>



{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
