{{#if session.login}}
    <h1>Ajout écurie</h1>
    <div class="centre" xmlns="http://www.w3.org/1999/html">
        <form action="/ecuries/add" method="post" enctype="multipart/form-data">
            <p>Nom : <input type="text" name="ECUNOM" /></p>
            <p>Directeur : <input type="text" name="ECUNOMDIR" /></p>
            <p>Points: <input type="number" name="ECUPOINTS" /></p>
            <p>Adresse du siège : <textarea name="ECUADRSIEGE" rows="2" cols="40"></textarea></p>
            <p>Image : <input type="file" name="image"/></p>
            <p> Pays  <select name="PAYNUM" >
                {{#each nat}}
                    <option value="{{this.num}}">{{this.nat}}</option>
                {{/each}}
            </select></p>
            <p> Fournisseur pneu  <select name="FPNUM" >
                {{#each fp}}
                    <option value="{{this.num}}">{{this.nom}}</option>
                {{/each}}
            </select></p>
            <p><input type="submit" value="Valider"></p>
        </form>
    </div>
    </form>

{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
