{{#if session.login}}
    <h1>Connexion réussie</h1>
    <br/>
    <div id="mesgValid"><img src="/image/act_ok.png">Bienvenue {{session.login}} !</div>
    <br/>
{{else}}
<h1>Connexion</h1>
<form action="/connexion/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

{{#each connect}}
    {{#unless this.resultat}}
        <br/>
        <div id="mesgErr"><img src="/image/act_warning.png">Identifiant et/ou Mot de passe incorrect(s)</div>
    {{/unless}}
{{/each}}
{{/if}}