{{#if session.login}}
    <h1>Partie administartive du site</h1>
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}