{{#if session.login}}
    <div class="centre">
        <img src="/image/cat_sponsor.png" alt="logo sponsor">
        <h1>Gestion des Sponsors</h1>
        <img src="/image/act_add.png" alt="ajouter sponsor">
        <a href="/ajoutSponsor">Ajouter un sponsor</a>
        <form id="supp" action="/sponsors/supp" method="POST">
            <input type="hidden" id="suppId" name="suppId" value="">
            <table BORDER="1">
                <TR>
                    <TH>Nom</TH>
                    <TH>Activité</TH>
                    <TH>Actions</TH>
                </TR>
                {{#each sponsor}}

                    <TR>
                        <TD>{{this.nom}}</TD>
                        <TD>{{this.act}}</TD>
                        <TD>	 <a href="/modifSponsor/{{this.num}}"> <img src="/image/act_edit.png" alt="modifier"> Modifier</a>
                            <a onclick="document.getElementById('suppId').value='{{this.num}}';document.getElementById('supp').submit()"><img src="/image/act_delete.png" alt="supprimer"> Supprimer</a></TD>
                    </TR>
                    </TR>
                {{/each}}
            </table>
        </form>
    </div>


{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
