{{#if session.login}}
    <div class="centre">
        <img src="/image/cat_circuit.png" alt="drapeau course">
        <h1>Gestion des circuits</h1>
        <img src="/image/act_add.png" alt="ajouter circuit">
        <a href="/ajoutCircuit">Ajouter un circuit</a>
        <form id="supp" action="/circuits/supp" method="POST">
            <input type="hidden" id="suppId" name="suppId" value="">
            <table BORDER="1">
                <TR>
                    <TH>Nom</TH>
                    <TH>Longueur</TH>
                    <TH>Nombre de spectateurs</TH>
                    <TH>Actions</TH>
                </TR>
                {{#each circuit}}

                    <TR>
                        <TD>{{this.nom}}</TD>
                        <TD>{{this.longueur}}</TD>
                        <TD>{{this.spec}}</TD>
                        <TD>	 <a href="/modifCircuit/{{this.num}}"> <img src="/image/act_edit.png" alt="modifier"> Modifier</a>
                            <a onclick="document.getElementById('suppId').value='{{this.num}}';document.getElementById('supp').submit()"><img src="/image/act_delete.png" alt="modifier"> Supprimer</a></TD>
                    </TR>
                {{/each}}
            </table>
        </form>
    </div>
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
