{{#if session.login}}
    <div class="centre" xmlns="http://www.w3.org/1999/html">
        <img src="/image/cat_ecurie.png" alt="logo ecurie">
        <h1>Gestion des Ecuries</h1>
        <img src="/image/act_add.png" alt="ajouter ecurie">
        <a href="/ajoutEcurie">Ajouter une ecurie</a>
        <form id="supp" action="/ecuries/supp" method="POST">
            <input type="hidden" id="suppId" name="suppId" value="">
            <table BORDER="1">
                <TR>
                    <TH>Nom</TH>
                    <TH>Directeur</TH>
                    <TH>Points</TH>
                    <TH>Actions</TH>
                </TR>
                {{#each ecurie}}

                    <TR>
                        <TD>{{this.nom}}</TD>
                        <TD>{{this.directeur}}</TD>
                        <TD>{{this.points}}</TD>
                        <TD>	 <a href="/modifEcurie/{{this.num}}"> <img src="/image/act_edit.png" alt="modifier"> Modifier</a>
                            <a onclick="document.getElementById('suppId').value='{{this.num}}';document.getElementById('supp').submit()"><img src="/image/act_delete.png" alt="supprimer"> Supprimer</a></TD>
                    </TR>
                {{/each}}
            </table>
        </form>
    </div>
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}