{{#if session.login}}
    <div class="centre">
        <img src="/image/cat_resultat.png" alt="logo resultat">
        <h1>Resultats</h1>
        <p>Selectionner un grand prix:</p>
        <form id ="search" action="/resultats/num" method="post"/>
        <select name="gp" id ="gp">
            {{#each gp}}
                <option value="{{this.GPNUM}}"> {{this.GPNOM}}</option>
            {{/each}}
        </select>
        </br>
        <input type="submit" value="valider" alt="valider">
        </form>
        {{#if resultatCourse}}
            <table id="res">
                <tr>
                    <th></th>
                    <th>Place</th>
                    <th>Pilote</th>
                    <th>Temps</th>
                    <th>Nb points</th>
                </tr>
                <form id="supp" action="/resultats/num/supp" method="POST">
                    <input type="hidden" id="suppId" name="suppId" value="">
                    <input type="hidden" id="gp2" name="gp2" value="">
                    {{#each resultatCourse}}
                        <tr>
                            <td><a onclick="formResultat({{this.PILNUM}});"><img src="/image/act_delete.png" alt="supprimer"></a></td>
                            <td>{{inc @index "+" 1}}</td>
                            <td>{{this.PILNOM}} {{this.PILPRENOM}} </td>
                            <td>{{this.TEMPSCOURSE}}</td>
                            {{#with (lookup ../classement @index)}}
                                <td>{{this.PTNBPOINTSPLACE}}</td>
                            {{else}}
                                <td>0</td>
                            {{/with}}
                        </tr>

                    {{/each}}
                </form>
                <form id="ajout" action="/resultats/num/add" method="POST">
                    <input type="hidden" id="gp2Add" name="gp2" value="">
                    <tr>
                        <td><b>Ajout</b></td>
                        <td><select name="piloteInfo" id ="piloteInfo">
                            {{#each pilote}}
                                <option value="{{this.PILNUM}}"> {{this.PILNOM}}</option>
                            {{/each}}
                        </select>
                        </td>
                        <td>Temps =
                            <input class="numberI" type="number" name="min"/> :
                            <input class="numberI" type="number" name="sec"/> :
                            <input class="numberI" type="number" name="cen"/>
                        </td>
                        <td colspan=3><input type="button" onclick="formResultatAdd();" value="OK" alt="OK"></td>
                    </tr>
                </form>
            </table>
        {{/if}}
    </div>
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
