{{#if session.login}}
    <h1>Modification circuit</h1>
    {{#each infoCir}}
        <div class="centre">
            <form action="/circuits/modif" method="post" enctype="multipart/form-data">
                <input type="text" name="num" value="{{this.CIRNUM}}" hidden/>
                <p>Nom : <input type="text" name="nom" value="{{this.CIRNOM}}"/></p>
                <p>Longueur : <input type="number" name="longueur" value="{{this.CIRLONGUEUR}}"/></p>
                <p> Pays  <select name="nationalite" >
                    {{#each ../nat}}
                        {{#ifCond this.nat '==' ../this.PAYNOM}}
                            <option value="{{this.num}}" selected>{{this.nat}}</option>
                        {{else}}
                            <option value="{{this.num}}" >{{this.nat}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select></p>
                <p>Image : <input type="file" name="image"/></p>
                <p>Nombre de spectateurs: <input type="number" name="spec" value="{{this.CIRNBSPECTATEURS}}"/></p>
                <p>Description : <textarea name="texte" rows="5" cols="60">{{this.CIRTEXT}}</textarea></p>


                <p><input type="submit" value="Valider"></p>
            </form>
        </div>
    {{/each}}
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
