{{#if session.login}}
    <h1>Modification pilote</h1>
    {{#each infoPil}}
        <div class="centre">
            <form action="/pilotes/modif" method="post">
                <input type="text" name="num" value="{{this.PILNUM}}" hidden/>
                <p>Prénom : <input type="text" name="prenom" value="{{this.PILPRENOM}}"/></p>
                <p>Nom : <input type="text" name="nom" value="{{this.PILNOM}}"/></p>
                <p>Date de naissance : <input type="date" name="date" value="{{this.annee}}-{{this.mois}}-{{this.jour}}"/></p>
                <p> Nationalité  <select name="nationalite" >
                    {{#each ../nat}}
                        {{#ifCond this.nat '==' ../this.PAYNAT}}
                            <option value="{{this.num}}" selected>{{this.nat}}</option>
                        {{else}}
                            <option value="{{this.num}}">{{this.nat}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select></p>
                <p> Ecurie  <select name="ecurie" >
                    {{#each ../ecu}}
                        {{#ifCond this.ecu '==' ../this.ECUNOM}}
                            <option value="{{this.num}}" selected>{{this.ecu}}</option>
                        {{else}}
                            <option value="{{this.num}}">{{this.ecu}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select></p>

                <p>Points : <input type="number" name="points" value="{{this.PILPOINTS}}"/> pts</p>
                <p>Poids: <input type="number" name="poids" value="{{this.PILPOIDS}}"/> kg</p>
                <p>Taille : <input type="number" name="taille" value="{{this.PILTAILLE}}"/> cm</p>
                <p>Description : <textarea name="description">{{this.PILTEXTE}}</textarea></p>


                <p><input type="submit" value="Valider"></p>
            </form>
        </div>
    {{/each}}


{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}