{{#if session.login}}
    <h1>Modification écurie</h1>
    {{#each infoEcu}}
        <div class="centre">
            <form action="/ecuries/modif" method="post" enctype="multipart/form-data">
                <input type="text" name="ECUNUM" value="{{this.ECUNUM}}" hidden/>
                <p>Nom : <input type="text" name="ECUNOM" value="{{this.nom}}"/></p>
                <p>Directeur : <input type="text" name="ECUNOMDIR" value="{{this.dir}}"/></p>
                <p>Points: <input type="number" name="ECUPOINTS" value="{{this.points}}"/></p>
                <p>Adresse du siège : <textarea name="ECUADRSIEGE" rows="2" cols="40">{{this.addr}}</textarea></p>
                <p>Image : <input type="file" name="image"/></p>
                <p> Pays  <select name="PAYNUM" >
                    {{#each ../nat}}
                        {{#ifCond this.nat '==' ../this.paynum}}
                            <option value="{{this.num}}" selected>{{this.nat}}</option>
                        {{else}}
                            <option value="{{this.num}}" >{{this.nat}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select></p>
                <p><input type="submit" value="Valider"></p>
            </form>
        </div>
    {{/each}}
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
