{{#if session.login}}
    <h1>Modification sponsor</h1>
    {{#each infSpon}}
        <div class="centre">
            <form id="modifSpon" action="/sponsors/modif" method="post">
                <input type="text" name="num" value="{{this.num}}" hidden/>
                <p>Nom : <input type="text" name="nom" value="{{this.nom}}"/></p>
                <p>Secteur d'activite : <input type="text" name="sa" value="{{this.act}}"/></p>
                <table>
                    <tr>
                        <td>Ecurie Sponsorisee :</td>
                        <td><select name="es" >
                            <option value="aucune">Aucune</option>
                            {{#each ../ecurie}}
                                <option value="{{this.num}}">{{this.ecu}}</option>
                            {{/each}}
                        </select></td>
                    </tr>
                    <input type="hidden" id="suppId" name="suppId" value="">
                    {{#each ../infSponEcu}}

                        <tr>
                            <td></td>
                            <td>
                                {{this.ECUNOM}} <a onclick="document.getElementById('suppId').value='{{this.ecunum}}';document.getElementById('modifSpon').submit()"><img src="/image/act_delete.png" alt="supprimer"></a>
                            </td>
                        </tr>

                    {{/each}}
                </table>
                <p><input type="submit" value="Valider"></p>
            </form>
        </div>
    {{/each}}
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
