{{#if session.login}}
    <div class="centre">
        <img src="/image/cat_pilote.png" alt="logo pilote">
        <h1>Gestion des pilotes</h1>
        <img src="/image/act_add.png" alt="ajouter pilote">
        <a href="/ajoutPilote">Ajouter un pilote</a>

        <form id="supp" action="/pilotes/supp" method="POST">
            <input type="hidden" id="suppId" name="suppId" value="">
            <table BORDER="1">
                <TR>
                    <TH>Nom</TH>
                    <TH>Prenom</TH>
                    <TH>Date de naissance</TH>
                    <TH>Actions</TH>
                </TR>
                {{#each pilotes}}

                    <TR>
                        <TD>{{this.nom}}</TD>
                        <TD>{{this.prenom}}</TD>
                        <TD>{{this.jour}}/{{this.mois}}/{{this.annee}}</TD>
                        <TD>
                            <a href="/modifPilotes/{{this.PILNUM}}"> <img src="/image/act_edit.png" alt="modifier"> Modifier</a>
                            <a onclick="document.getElementById('suppId').value='{{this.PILNUM}}';document.getElementById('supp').submit()"><img src="/image/act_delete.png" alt="modifier"> Supprimer</a></TD>
                    </TR>
                {{/each}}
            </table>
        </form>
    </div>
{{else}}
    <div id="mesgErr"><img src="/image/act_warning.png">Veillez vous connecter pour acceder à ce contenu
        <br/><br/><a href="/">-- Se connecter --</a></div>
{{/if}}
