body {
	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
	background: url('/image/fond.jpg') repeat;
	font-size:0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
.monBody #container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	background:#ffffff;
}
.monBody #header {
	height:300px;
}
.monBody #menu {
	height:22px;
	color:#ffffff;
	font-size:1.4em;
	background:#000000;
}
.monBody #contenu {
	padding:20px;
}
.monBody #footer {
	padding: 0 10px;
	font-size:0.8em;
	text-align:center;
	height:150px;
	background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
	color:#ffffff;
	text-decoration:none;
}
#menu {
	text-align: center;
}
#LogoNode {
	max-height: 20%;
	max-width: 20%;
}
.tabpayscir  {
	float:right;
	padding:10px;
	border:1px solid black;
	margin:10px;
	-moz-border-radius:15px;
	border-radius:15px;
}
.myboth  {
	clear:both;
}
a  {
	text-decoration:none;
	color:#0072ff;
}
.photo{
	width: 150px;
	height: 130px;
}

#etatConnexion
{
	position: fixed;
	background-color: white;
	top : 5%;
	right: 3%;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	text-align: center;
}

#etatConnexion p
{
	margin: 10px;
}

form{
	text-align: center;
}

form div{
	padding: 10px;
}

h1{
	text-align: center;
}

#mesgErr {
	text-align: center;
	font-size: 13px;
	color: darkred;
}

#mesgValid{
	text-align: center;
	font-size: 15px;
	color: darkgreen;
}

#mesgBye{
	text-align: center;
	font-size: 15px;
}

#mesgErr img, #mesgValid img{
	padding-right: 10px;
}

#mesgBye img{
	padding-bottom: 10px;
	width: 100px;
}

a{
	cursor: pointer;
}

.centre{
	text-align: center;
}

.centre table{
	margin: auto;
	margin-top: 2%;
}

#action{
	text-align: center;
}
#res{
	margin:auto;
	border-collapse:collapse;
	margin-top: 2%;
}

#res td, th{
	border:1px solid black;
	padding: 5px;
}

#res th{
	background-color: #d2d1c6;
}

.numberI{
	width: 15%;
}

#gp{
	margin-top: 1%;
	margin-bottom: 2%;
}