<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}}</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />

	<link rel="stylesheet" href="/css/structure.css" />
    <script type="text/javascript" language="javascript" src="/javascript/fonction.js"></script>
</head>

<body class="monBody">
<div id="container">
	<div id="header">
	<img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
	</div>
	<div id="menu">
        <a href="/pilotes">PILOTES</a> |
        <a href="/circuits">CIRCUITS</a> |
        <a href="/ecuries">ECURIES</a> |
        <a href="/resultats">RESULTATS</a> |
        <a href="/sponsors">SPONSORS</a>
	</div>
	<div id="contenu">
		<br/>
		<br/>
			{{{body}}}
	</div>

    <div id="etatConnexion">
        {{#if session.login}}
            <p>User : <b>{{session.login}}</b></p>
            <p><a href="/deconnexion">Se Deconnecter</a></p>
        {{else}}
            <p><a href="/connexion">Se Connecter</a></p>
        {{/if}}

    </div>
				<div id="footer">
					L'encyclopédie de la F1 depuis janvier 2016 (en NodeJS)
					<br />
					© IUT du Limousin DUT Informatique année 2
					<br />
					<img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
			</div>

</div>
</body>
</html>
