<h1>Bienvenue !</h1>
<p class="txtAc">L'IUT du Limousin est fier de vous présenter <b>l'encyclopédie OFFICIELLE de la F1</b>. Ce site a été developpé par <b>Melvil DONNART</b> et <b>Antoine LE LAY</b>.</p>
<p class="txtAc">Un grand merci à <b>Michel CHASTAGNER</b> pour nous avoir transmis son savoir mais aussi son humour et sa bonne humeur.</p>