<h1>Circuits</h1>
<div>
    <table class="tabpayscir">
        {{#each listeCircuit}}
            <tr><td><img src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" style="width:30px"/>
                <a href="/circuits/{{this.CIRNUM}}"> {{this.CIRNOM}}</a>
            </td></tr>
        {{/each}}
    </table>



    {{#each detailCircuit}}
        <table style="float: left">
            <tr>
                <td>
                    <img class="photo" src="/image/circuit/{{this.CIRADRESSEIMAGE}}" style="height: 250px; width: 200px"/>
                </td>
                <td>
                    <p><b>Nom :</b> {{this.CIRNOM}}</p>
                    <p><b>Longueur :</b> {{this.CIRLONGUEUR}}</p>
                    <p><b>Nombre de spectateurs :</b> {{this.CIRNBSPECTATEURS}}</p>
                    <p><b>Pays :</b> {{this.PAYNOM}}</p>
                </td>
            </tr>
        </table>
    {{/each}}
</div>

<br class="myboth" />
{{#each detailCircuit}}
    <div class="detail">{{this.CIRTEXT}}</div>
{{/each}}