<h1>Résultats des courses</h1>
<div>
    <table class="tabpayscir">
        {{#each listeCourse}}
            <tr><td><img src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" style="width:30px"/>
                <a href="/resultats/{{this.GPNUM}}"> {{this.GPNOM}}</a>
            </td></tr>
        {{/each}}
    </table>

    {{#if resultatCourse}}
    <table id="res">
        <tr>
            <th>Place</th>
            <th>Pilote</th>
            <th>Temps</th>
            <th>Nb points</th>
        </tr>
    {{#each resultatCourse}}
            <tr>
                <td>{{inc @index "+" 1}}</td>
                <td>{{this.PILNOM}} {{this.PILPRENOM}} </td>
                <td>{{this.TEMPSCOURSE}}</td>
                {{#with (lookup ../classement @index)}}
                    <td>{{this.PTNBPOINTSPLACE}}</td>
                {{else}}
                    <td>0</td>
                {{/with}}
            </tr>

    {{/each}}
    </table>
    {{/if}}

<div>
<br class="myboth" />
{{#each circuitTexte}}
    <div class="detail">{{this.GPCOMMENTAIRE}}</div>
{{/each}}

