<h1>Écuries</h1>
<div>
    <table class="tabpayscir">
        {{#each listeEcurie}}
            <tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
                <a href="/detailEcurie/{{this.ecunum}}"> {{this.ecunom}} </a>
            </td></tr>
        {{/each}}
    </table>

    {{#each detailEcurie}}

        <table  style="float : left">
            <tr>
                <td>
                    <img class="photo" src="/image/ecurie/{{this.img}}"/>
                </td>
                <td>
                    <p><b>Nom :</b> {{this.nom}} </p>
                    <p><b>Directeur:</b> {{this.dir}}</p>
                    <p><b>Adresse :</b> {{this.addr}}</p>
                    <p><b>Pays :</b> {{this.paynum}}</p>
                    <p><b>Fournisseur de pneu : </b> {{this.fnom}}</p>
                    <p><b> Sponsor(s) : </b>
                        {{#each ../sponsors}}
                            {{this.snom}}
                        {{else}}
                            Aucun
                        {{/each}}

                    </p>
                </td>
            </tr>
        </table>
    {{/each}}
</div>
{{#if piloteEcurie}}
    <p style ="margin-top : 200px"><b>Pilotes : </b></p>
{{/if}}
<table>
{{#each piloteEcurie}}
        <tr>
            <td>
                <a class="tooltip" href="" />
                {{this.nom}} {{this.prenom}}
                <span><img src="/image/pilote/{{this.adresse}}">
	   </span>
                </a>
            </td>
        </tr>
    </table>
{{/each}}
{{#if voitures}}
    <p style ="margin-top : 50px"><b>Voitures : </b></p>
{{/if}}
<table>
{{#each voitures}}
        <tr>
            <td>
                <img class="photo" src="/image/ecurie/voiture/{{this.img}}"/>
                <p> {{this.nom}}  </p>
            </td>
        </tr>
    </table>
{{/each}}


<br />
<br class="myboth" />
