<h1>Repértoire des pilotes</h1>
<table class="tablettre">
    <tr>
        <td id="legendeTab">Cliquez sur une lettre : </td>
        {{#each lettrePilote}}
            <td>
                <a href="/repertoirePilote/{{this.lettre}}" name="lettre">{{this.lettre}}</a>
            </td>
        {{/each}}
    </tr>
</table>
<hr/>

{{#if detailPilote}}
    <div id="liste">
        <p>Resultat de la recherche : </p>
        {{#each detailPilote}}
            <a href="/repertoirePilote/pilote/{{this.PILNUM}}" name="lettre" class="listeElt">

                <figure>
                    <img class="photo" src="/image/pilote/{{this.PHOADRESSE}}"/>
                    <figcaption>{{this.PILNOM}} {{this.PILPRENOM}}</figcaption>
                </figure>

            </a>
        {{/each}}
    </div>
{{/if}}

{{#if detailPilotePlus}}
    <div class="detail">
        {{#each detailPilotePlus}}

            <table>
                <tr>
                    <td>
                        <img class="photo" src="/image/pilote/{{this.PHOADRESSE}}"/>
                    </td>
                    <td>
                        <p><b>Nom :</b> {{this.PILNOM}} {{this.PILPRENOM}}</p>
                        <p><b>Date de naissance :</b> {{this.PILDATENAIS}}</p>
                        <p><b>Nationalité :</b> {{this.PAYNAT}}</p>
                        <p><b>Ecurie :</b>
                            {{#if this.ECUNOM}}
                                {{this.ECUNOM}}
                            {{else}}
                                <i>Pas d'ecurie cette année<i/>
                            {{/if}}</p>
                    </td>
                    <td>
                        <br/>
                        <p><b>Poids :</b> {{this.PILPOIDS}}</p>
                        <p><b>Taille :</b> {{this.PILTAILLE}}</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><b>Principaux sponsors : </b></td>
                </tr>

                {{#each ../detailSpon}}
                    <tr>
                        <td><b>{{this.SPONOM}}</b> ({{this.SPOSECTACTIVITE}})</td>
                    </tr>
                {{else}}
                    <tr>
                        <td><i>Aucun</i></td>
                    </tr>
                {{/each}}
            </table>

            <p><b>Qui suis-je ? :</b> {{this.PILTEXTE}}</p>
        {{/each}}
        <table>
            <tr>
                {{#each detailPhoto}}
                    <td>
                        <a href="/image/pilote/{{this.PHOADRESSE}}" class="lytebox"
                           data-lyte-options="group:vacation" data-title="{{this.PHOCOMMENTAIRE}}">
                            <img class="photo" src="/image/pilote/{{this.PHOADRESSE}}"/>
                            <br/>{{this.PHOCOMMENTAIRE}}
                        </a>
                    </td>
                {{/each}}
            </tr>
        </table>
    </div>
{{/if}}