<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">

<head>
    <title> {{title}}</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/image/favicon.png" />

    <link rel="stylesheet" href="/css/structure.css" />
    <script type="text/javascript" language="javascript" src="/lytebox/lytebox.js"></script>
    <link rel="stylesheet" href="/lytebox/lytebox.css" type="text/css" media="screen" />
</head>

<body class="monBody">
<div id="container">
    <div id="header">
        <img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
    </div>
    <div id="menu">
        <a href="/accueil">ACCUEIL</a> |
        <a href="/repertoirePilote">REPERTOIRE DES PILOTES</a> |
        <a href="/circuits">LES CIRCUITS 2016</a> |
        <a href="/ecuries">ECURIES</a> |
        <a href="/resultats">RESULTATS</a>
    </div>
    <div id="contenu">
        <br/>
        <br/>
        {{{body}}}
    </div>
    <div id="footer">
        L'encyclopédie de la F1 depuis janvier 2016 (en NodeJS)
        <br />
        © IUT du Limousin DUT Informatique année 2
        <br />
        <img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
    </div>

</div>
</body>
</html>
