body {
	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
	background: url('/image/fond.jpg') fixed;
	font-size:0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
.monBody #container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	background:#ffffff;
}
.monBody #header {
	height:300px;
}
.monBody #menu {
	height:22px;
	color:#ffffff;
	font-size:1.4em;
	background:#000000;
}
.monBody #contenu {
	padding:20px;
}
.monBody #footer {
	padding: 0 10px;
	font-size:0.8em;
	text-align:center;
	height:150px;
	margin-top: 50px;
	background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
	color:#ffffff;
	text-decoration:none;
}
#menu {
	text-align: center;
}
#LogoNode {
	max-height: 20%;
	max-width: 20%;
}
.tabpayscir  {
	float:right;
	padding:10px;
	border:1px solid black;
	margin:10px
	-moz-border-radius:15px;
	border-radius:15px;
}
.myboth  {
	clear:both;
}
a  {
	text-decoration:none;
	color:#0072ff;
}
.photo{
	width: 160px;
	height: 140px;
}

figcaption{
	text-align: center;
	color: #740909;
}

#liste{
	border:solid #4e0606;
	min-height: 100px;
	margin: 50px 0px 50px 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #e5dcdf;
}

.detail{
	border:solid #4e0606;
	min-height: 100px;
	margin: 50px 0px 50px 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #e5dcdf;
	padding: 20px;
}

#liste p{
	text-align: center;
	color: #4e0606;
	font-size: 20px;
}

.listeElt{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	margin-right: 40px;
}

.tooltip
{
	text-decoration:none;
	position:relative;
}


.tooltip span
{
	display:none;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:black;
	background:white;
}


.tooltip span img
{
	float:left;
	margin:0px 8px 8px 0;
}


.tooltip:hover span
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:auto;
	max-width:320px;
	min-height:128px;
	border:1px solid black;
	margin-top:12px;
	margin-left:32px;
	overflow:hidden;
	padding:8px;
}

hr{
	margin:30px 0px 30px 0px;
}

h1{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}

#legendeTab{
	font-size: 18px;
	padding-right: 10px;
}

#res{
	float: left;
	margin-left: 10%;
	border-collapse:collapse;
}

#res td, th{
	border:1px solid black;
	padding: 5px;
}

#res th{
	background-color: #d2d1c6;
}

.txtAc{
	text-align: center;
	font-size: 15px;
	margin: 0px 50px 0px 50px;
	padding: 10px;
}